body {
  background-color: black;
  text-align: center;
  text-shadow: 4px 4px black;
  font-family: 'VT323', monospace;
  letter-spacing: 3px;
}
.wrapper {
  margin: 1%;
}
.music-player {
  position: relative;
  height: 100%;
  top: 625px;
  font-size: 20px;
  color: green;
  text-align: center;
}
.landing-screen{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  visibility: visible;
}
.player1-form {
  font-size: 30px;
  border-radius: 10px;
  display: inline-block;
  color: yellow;
  vertical-align: bottom;
}
.player2-form {
  font-size: 30px;
  border-radius: 10px;
  display: inline-block;
  color: yellow;
  vertical-align: bottom;
}
#player1-name {
  font-size: 25px;
  opacity: 0.8;
  font-family: 'VT323', monospace;
}
#player2-name {
  font-size: 25px;
  opacity: 0.8;
  font-family: 'VT323', monospace;
}
#logo {
  position: relative;
  height: auto;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.controls {
  position: absolute;
  top: 300px;
}
.player1-controls {
  left: 90px;
}
.player2-controls {
  left: 540px;
}
#start-btn {
  font-family: 'VT323', monospace;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  margin: 20px;
  display: inline-block;
  vertical-align: bottom;
  /*height: 60px;*/
  width: 100px;
  background-color: lightgray;
  border-radius: 10px;
/*  padding: 5px;*/
  box-shadow:none;
}
#start-btn:hover {
  background-color: #aaa;
  cursor: pointer;
}
.player1-selection {
  margin: 20px;
  height: 400px;
  width: 250px;
  border-radius: 10px;
  background-image: url('../images/r-win.gif');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-color: rgba(100,100,100,.7);
  display: inline-block;
  vertical-align: bottom;
}
.player2-selection {
  margin: 20px;
  height: 400px;
  width: 250px;
  border-radius: 10px;
  background-image: url('../images/k-win.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(100,100,100,.7);
  display: inline-block;
  vertical-align: bottom;
}
.new-challenger-btns {
  position: relative;
}
#player1-reset {}
#player2-reset {}

#landing-ftr {
  font-size: 25px;
  margin: 20px;
  color: yellow;
}
.fight-screen{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  /*overflow: hidden;*/
  visibility: hidden;
}
.battle-arena {
  background-image: url('../images/arena.jpg');
  background-position: -150px 0;
  /*background-color: white;*/
  height: 600px;
  width: 800px;
  /*direction: ltr;*/
}
.player-1 {
  position: absolute;
  /*display: inline-block;*/
  /*background-color: blue;*/
  /*https://pixlanim8r.wordpress.com/tag/sprite-animation/*/
  background: url('../images/ryu-sprite.png') no-repeat;
  /*background-image: url('../images/ryu.png');*/
  /*background-position: -180px -460px*/;
  /*animation: ryu-resting .8s steps(4) infinite;*/
  top: 320px;
  left: 100px;
  height: 290px;
  width: 150px;
}
@-webkit-keyframes ryu-resting {
  from {
    background-position-x: -10px;
    background-position-y: -50px;
  }
  to {
    background-position-x: -700px;
    background-position-y: -50px;
  }
}
.player-2 {
  position: absolute;
  /*display: inline-block;*/
  /*background-color: green;*/
  /*https://pixlanim8r.wordpress.com/tag/sprite-animation/*/
  background-image: url('../images/ken-sprite.png');
/*  background-position: 2150px -552px;*/
/*  animation: ken-resting .8s steps(4) infinite;*/
  top: 320px;
  right: 550px;
  height: 290px;
  width: 150px;
}
/*@-webkit-keyframes ken-resting {
  from {background-position: 1910px -275px;}
  to {background-position: 2900px -275px;}
}*/
.player-1-hp {
  position: absolute;
  text-shadow: 1px 1px #909;
  top: 20px;
  right: 430px;
  width: 350px;
  height: 25px;
  background-color: yellow;
  padding: 5px;
  font-size: 25px;
  border: 1px 0 solid white;
  z-index: 1;
}
.player-1-hp-shadow {
  position: absolute;
  top: 18px;
  left: 10px;
  width: 350px;
  height: 25px;
  padding: 5px;
  background-color: red;
  border: 2px solid white;
  z-index: 0
}
.player-2-hp {
  position: absolute;
  text-shadow: 1px 1px #909;
  top: 20px;
  left: 430px;
  width: 350px;
  height: 25px;
  background-color: yellow;
  padding: 5px;
  font-size: 25px;
  border: 1px 0 solid white;
  z-index: 1;
}
.player-2-hp-shadow {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 350px;
  height: 25px;
  padding: 5px;
  background-color: red;
  border: 2px solid white;
  z-index: 0
}
.ko-box {
  background: red;
  position: relative;
  top: 15px;
  width: 62px;
  height: 42px;
  font-weight: 500;
  -webkit-text-stroke: 3px #608;
  margin: 0 auto;
  font-family: 'Bevan', cursive;
  font-size: 30px;
  letter-spacing: -3px;
  color: white;
  border: 2px white solid;
  z-index: 2;
  vertical-align: baseline;
}
.timer-box {
  position: relative;
  top: 10px;
  color: orange;
  text-shadow: 4px 4px #808;
  margin: 0 auto;
  font-size: 50px;
  width: 60px;
  height: auto;
}
.player-1-controls {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: rgba(80,80,80,.7);
  padding: 10px;
  color: white;
  position: absolute;
  top: 70px;
  left: 10px;
  border-radius: 15px;
}
.player-2-controls {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: rgba(80,80,80,.7);
  padding: 10px;
  color: white;
  position: absolute;
  top: 70px;
  right: 10px;
  border-radius: 15px;
}
.player-1-name {
  position: absolute;
  margin: 20px;
  bottom: 10px;
  left: 10px;
  font-size: 35px;
  color: yellow;
}
.player-2-name {
  position: absolute;
  margin: 20px;
  bottom: 10px;
  right: 10px;
  font-size: 35px;
  color: yellow;
}
.end-screen {
  background-color: blue;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  visibility: hidden;
}
.announcement-box {
  border-radius: 10px;
  position: absolute;
  padding: 50px;
  height: 500px;
  width: 700px;
  color: yellow;
  font-size: 50px;
  background-color: blue;
}
.announcement-box > .container {
  position: relative;
  top: 10%;
}
#replay-btn,
#landing-btn {
  display: block;
  margin: 0 auto;
}
.player-select p {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #222;
}
button {
  font-size: 20px;
  font-family: 'VT323', monospace;
  letter-spacing: 3px;
}
button:hover {
  background-color: #aaa;
  cursor: pointer;
  animation: glow  linear .5s infinite alternate;
}
@keyframes glow {
    0% {box-shadow: inset 0 0 0px #fa3;}
    50% {box-shadow: inset 0 0 15px #fa3;}
    100% {box-shadow: inset 0 0 30px #fa3;}
}
#r-lose {
  position: absolute;
  height: 250px;
  top: 350px;
  left: 0;
  visibility: hidden;
}
#r-win {
  position: absolute;
  height: 250px;
  top: 350px;
  left: 0;
  border-radius: 15px;
  visibility: hidden;
}
#k-lose {
  position: absolute;
  height: 250px;
  top: 350px;
  right: 0;
  visibility: hidden;
}
#k-win {
  position: absolute;
  height: 250px;
  top: 350px;
  right: 0;
  border-radius: 15px;
  visibility: hidden;
}
.k-punch {
  background-image: url('../images/k-punch.png');
}
/* Testing Only */
#cheat-btn {
  position: relative;
  top: 50px;
  visibility: hidden;
}
#hit-player2 {
  position: absolute;
  top: 250px;
  left:100px;
  visibility: hidden
}
#hit-player1 {
  position: absolute;
  top: 250px;
  right:100px;
  visibility: hidden;
}
