body {
  background-color: black;
/*  background-image: url('../images/streetfighterlogo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;*/
  text-align: center;
  font-family: 'VT323', monospace;
  letter-spacing: 3px;
}
.landing-screen{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  visibility: visible;
}
.player-select {
}
.player1-form {
  margin: 20px;
  height: 400px;
  width: 250px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  display: inline-block;
  color: yellow;
  vertical-align: bottom;
}
.player2-form {
  margin: 20px;
  height: 400px;
  width: 250px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  display: inline-block;
  color: yellow;
  vertical-align: bottom;
}
#logo {
  /*background-color: blue;*/
  position: relative;
  height: auto;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
/*  height: auto;
  max-width: 790px;*/
  /*-webkit-transform: translateX(-50%);*/
  /*transform: translateX(-50%)*/
}

#start-btn {
  font-family: 'VT323', monospace;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  margin: 20px;
  display: inline-block;
  vertical-align: bottom;
  /*height: 60px;*/
  width: 100px;
  background-color: lightgray;
  border-radius: 10px;
/*  padding: 5px;*/
}
#start-btn:hover {
  background-color: #aaa;
  cursor: pointer;
}
#landing-ftr {
  font-size: 25px;
  margin: 20px;
  color: yellow;
}
.fight-screen{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  overflow: hidden;
  visibility: hidden;
}
.battle-arena {
  /*background-color: white;*/
  height: 600px;
  width: 800px;
  /*direction: ltr;*/
}
.player-1 {
  position: absolute;
  /*display: inline-block;*/
  background-color: blue;
  /*background-image: url('../images/Ken-hdstance.gif');*/
  top: 300px;
  left: 100px;
  height: 300px;
  width: 150px;
}
.player-2 {
  position: absolute;
  /*display: inline-block;*/
  background-color: green;
  top: 300px;
  right: 550px;
  height: 300px;
  width: 150px;

  /*direction: rtl;*/
}
.player-1-hp {
  position: absolute;
  background-color: yellow;
  padding: 5px;
  font-size: 25px;
  left: 50px;
  border: 1px solid black;
}
.player-2-hp {
  position: absolute;
  background-color: yellow;
  padding: 5px;
  left: 525px;
  font-size: 25px;
  border: 1px solid black;
}
.player-1-name {
  position: absolute;
  margin: 20px;
  bottom: 10px;
  left: 10px;
  font-size: 25px;
  color: yellow;
}
.player-2-name {
  position: absolute;
  margin: 20px;
  bottom: 10px;
  right: 10px;
  font-size: 25px;
  color: yellow;
}
.end-screen {
  background-color: blue;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  visibility: hidden;
}
.announcement-box {
  position: absolute;
  padding: 50px;
  height: 500px;
  width: 700px;
  color: yellow;
  font-size: 30px;
  background-color: blue;
}
.announcement-box > .container {
  position: relative;
  top: 27.5%;
}
#replay-btn,
#landing-btn {
  display: block;
  margin: 0 auto;
}
/* Testing Only */
#hit-player2 {position: absolute;top: 200px; left:100px;}
#hit-player1 {position: absolute;top: 200px; right:100px;}
button {
  font-size: 20px;
  font-family: 'VT323', monospace;
  letter-spacing: 3px;
}
button:hover {
  background-color: #aaa;
  cursor: pointer;
}
