body {
  background-color: black;
/*  background-image: url('../images/streetfighterlogo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;*/
  text-align: center;
  text-shadow: 4px 4px black;
  font-family: 'VT323', monospace;
  letter-spacing: 3px;
}
.wrapper {
  margin: 10%;
}
.landing-screen{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  visibility: visible;
}
.player1-form {
  margin: 20px;
  height: 400px;
  width: 250px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  display: inline-block;
  color: yellow;
  vertical-align: bottom;
}
.player2-form {
  margin: 20px;
  height: 400px;
  width: 250px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  display: inline-block;
  color: yellow;
  vertical-align: bottom;
}
#logo {
  /*background-color: blue;*/
  position: relative;
  height: auto;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
/*  height: auto;
  max-width: 790px;*/
  /*-webkit-transform: translateX(-50%);*/
  /*transform: translateX(-50%)*/
}

#start-btn {
  font-family: 'VT323', monospace;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  margin: 20px;
  display: inline-block;
  vertical-align: bottom;
  /*height: 60px;*/
  width: 100px;
  background-color: lightgray;
  border-radius: 10px;
/*  padding: 5px;*/
}
#start-btn:hover {
  background-color: #aaa;
  cursor: pointer;
}
/*#start-btn:hover ~ .player2-form {
  background-image: url('../images/tenor.gif');
  background-size: cover;
}*/
#landing-ftr {
  font-size: 25px;
  margin: 20px;
  color: yellow;
}
.fight-screen{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  /*overflow: hidden;*/
  visibility: hidden;
}
.battle-arena {
  background-image: url('../images/arena.jpg');
  background-position: -150px 0;
  /*background-color: white;*/
  height: 600px;
  width: 800px;
  /*direction: ltr;*/
}
.player-1 {
  position: absolute;
  /*display: inline-block;*/
  background-color: blue;
  /*https://pixlanim8r.wordpress.com/tag/sprite-animation/*/
  background: url('../images/Ryu-hdstance.gif') no-repeat;
  background-size: 150px 300px;

  top: 300px;
  left: 100px;
  height: 300px;
  width: 150px;
}
.player-2 {
  position: absolute;
  /*display: inline-block;*/
  background-color: green;
  /*https://pixlanim8r.wordpress.com/tag/sprite-animation/*/
  background: url('../images/Ken-hdstance.gif') no-repeat right;
  background-size: 150px 300px;
  top: 300px;
  right: 550px;
  height: 300px;
  width: 150px;

  /*direction: rtl;*/
}
.player-1-hp {
  position: absolute;
  text-shadow: 1px 1px #909;
  top: 3%;
  left: 10px;
  width: 350px;
  height: 4%;
  background-color: yellow;
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
}
.player-2-hp {
  position: absolute;
  text-shadow: 1px 1px #555;
  top: 3%;
  right: 10px;
  width: 350px;
  height: 4%;
  background-color: yellow;
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
}
.ko-box {
  background: red;
  position: relative;
  top: 15px;
  width: 62px;
  height: 42px;
  font-weight: 500;
/*  text-shadow: 5px 4px #608;*/
  -webkit-text-stroke: 3px #608;
  margin: 0 auto;
  font-family: 'Bevan', cursive;
  font-size: 30px;
  letter-spacing: -3px;
  color: white;
  border: 2px white solid;
  z-index: 2;
  vertical-align: baseline;
}
.timer-box {
  position: relative;
  top: 10px;
  color: orange;
  text-shadow: 4px 4px #808;
  margin: 0 auto;
  font-size: 50px;
  width: 60px;
  height: auto;
/*  border: 1px black solid;*/
}
.player-1-controls {
  font-size: 20px;
  background-color: rgba(80,80,80,.7);
  padding: 5px;
  color: white;
  position: absolute;
  top: 70px;
  left: 10px;
  border-radius: 15px;
}
.player-2-controls {
  font-size: 20px;
  background-color: rgba(80,80,80,.7);
  padding: 5px;
  color: white;
  position: absolute;
  top: 70px;
  right: 10px;
  border-radius: 15px;
}
.player-1-name {
  position: absolute;
  margin: 20px;
  bottom: 10px;
  left: 10px;
  font-size: 25px;
  color: yellow;
}
.player-2-name {
  position: absolute;
  margin: 20px;
  bottom: 10px;
  right: 10px;
  font-size: 25px;
  color: yellow;
}
.end-screen {
  background-color: blue;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(100,100,100,.7);
  visibility: hidden;
}
.announcement-box {
  border-radius: 10px;
  position: absolute;
  padding: 50px;
  height: 500px;
  width: 700px;
  color: yellow;
  font-size: 50px;
  background-color: blue;
}
.announcement-box > .container {
  position: relative;
  top: 10%;
}
#replay-btn,
#landing-btn {
  display: block;
  margin: 0 auto;
}
button {
  font-size: 20px;
  font-family: 'VT323', monospace;
  letter-spacing: 3px;
}
button:hover {
  background-color: #aaa;
  cursor: pointer;
}
/* Testing Only */
#cheat-btn {
  position: relative;
  top: 50px;
  /*visibility: hidden;*/
}
#hit-player2 {
  position: absolute;
  top: 250px;
  left:100px;
  /*visibility: hidden*/
}
#hit-player1 {
  position: absolute;
  top: 250px;
  right:100px;
  /*visibility: hidden;*/
}
