body {
  background-color: black;
}
.landing-screen {
  position: absolute;
  height:600px;
  width:900px;
  background-color: beige;
  /*Default*/
  /*visibility: visible;*/
  /*Testing*/
  visibility: hidden;
}
.start-button {
  height: 100px;
  width: 200px;
  background-color: red
}
.fight-screen {
  position: absolute;
/*  margin: 0 auto;*/
  background-color: white;
  height:600px;
  width:900px;
  /*Default*/
  /*visibility: hidden;*/
  /*Testing*/
  visibility: visible;
  overflow: hidden;
}
.blue-box {
  position: absolute;
  /*display: inline-block;*/
  background-color: blue;
  top: 300px;
  left: 100px;
  height: 300px;
  width: 150px;
}
.green-box {
  position: absolute;
  /*display: inline-block;*/
  background-color: green;
  top: 300px;
  right: 100px;
  height: 300px;
  width: 150px;
}
@keyframes moveRight {
    100% {
    transform: translate(140px,0);
  }
}
@keyframes moveLeft {
    100% {
    transform: translate(0,0);
  }
}
